
Database/CourseAndResultManagement.mdf
Database/CourseAndResultManagement_log.ldf
CourseAndResultMS/.vs/CourseAndResultMS/v15/.suo
CourseAndResultMS/.vs/CourseAndResultMS/v15/.suo
CourseAndResultMS/.vs/CourseAndResultMS/v15/Server/sqlite3/storage.ide-wal
CourseAndResultMS/CourseAndResultMS/bin/CourseAndResultMS.dll
CourseAndResultMS/CourseAndResultMS/obj/Debug/CourseAndResultMS.csproj.CoreCompileInputs.cache
*.config
CourseAndResultMS/.vs/CourseAndResultMS/v15/.suo
