@using CourseAndResultMS.Models;
@{ 
    List<RegisterStudent> registerStudents = ViewBag.RegisterStudentList;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Enroll Course</title>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />   
    <style>
        label.error {
            color: red;
            font-style: italic;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <h2>Create Enroll Course</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="create" method="post" action="@Url.Action("Create", "EnrollCourse")">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="RegisterStudentId" class="control-label col-md-2">Student Reg. No</label>
                        <div class="col-md-10">
                            <select id="RegisterStudentId" name="RegisterStudentId" class="form-control">
                                <option value="">-- Select Reg No --</option>
                                @foreach (RegisterStudent item in registerStudents)
                                {
                                    <option value="@item.RegisterStudentId">@item.RegistrationNumber</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" id="Name" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email" class="col-md-2 control-label">Email</label>
                        <div class="col-md-10">
                            <input type="text" id="Email" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="DepartmentId" class="col-md-2 control-label">Department</label>
                        <div class="col-md-10">
                            <input type="text" id="DepartmentId" class="form-control" readonly />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CourseId" class="col-md-2 control-label">Course</label>
                        <div class="col-md-10">
                            <select id="CourseId" name="CourseId" class="form-control">
                                <option value="">-- Select Course --</option>
                            </select>
                            <span id="existCourse" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="EnrollDate" class="col-md-2 control-label">Enroll Date</label>
                        <div class="col-md-10">
                            <input type="text" id="EnrollDate" name="EnrollDate" placeholder="Select Date" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="submit" class="btn btn-primary" value="Enroll" />
                            <a href="../EnrollCourse/Index" class="btn btn-info">Back to list</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>

    <script>
        $("#EnrollDate").datepicker({
                showAnim: "fold",
                changeMonth: true,
                changeYear: true,
                dateFormat: "d MM, y"
            }); 
        $(document).ready(function () {
            $("#create").validate({
                rules: {
                    RegisterStudentId: "required",
                    CourseId: "required",
                    EnrollDate: "required"
                },
                messages: {
                    RegisterStudentId: "Select registration no.",
                    CourseId: "Select course.",
                    EnrollDate: "Select enroll date."
                }
            });   
            $("#RegisterStudentId").change(function () {
                $("#Name").val('');
                $("#Email").val('');
                $("#DepartmentId").val('');
                $("#CourseId").empty();
                $("#CourseId").append('<option value="">-- Select Course --</option>');

                var regStudentId = $("#RegisterStudentId").val();
                var getStudentInfo = { registrationStudentId: regStudentId };
                var getDepartmentName = { registrationStudentId: regStudentId };
                var getCourseName = { registrationStudentId: regStudentId };

                $.ajax({
                    type: "POST",
                    url: '/EnrollCourse/GetStudentInfoByRegStudentId',
                    contentType: "application/json; charset=uft-8",
                    data: JSON.stringify(getStudentInfo),
                    success: function (data) {
                        $("#Name").val(data.Name);
                        $("#Email").val(data.Email);
                    }
                });

                $.ajax({
                    type: "POST",
                    url: '/EnrollCourse/GetDepartmentByRegStudentId',
                    contentType: "application/json; charset=uft-8",
                    data: JSON.stringify(getDepartmentName),
                    success: function (data) {
                        $("#DepartmentId").val(data);
                    }
                });

                $.ajax({
                    type: "POST",
                    url: '/EnrollCourse/GetCourseByDepartmentId',
                    contentType: "application/json; charset=uft-8",
                    data: JSON.stringify(getCourseName),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#CourseId").append("<option value=" + value.CourseId + ">" + value.Name + "</option>");
                        });
                    }
                });
            });
            $("#CourseId").change(function () {
                $("#existCourse").empty();
                var registerStudentId = $("#RegisterStudentId").val();
                var courseId = $("#CourseId").val();
                var courseIsExist = { registerStudentId: registerStudentId, courseId: courseId };

                $.ajax({
                    type: "POST",
                    url: '/EnrollCourse/GetCourseIsExist',
                    contentType: "application/json; charset=uft-8",
                    data: JSON.stringify(courseIsExist),
                    success: function (data) {
                        if (data == 1) {
                            $("#existCourse").append('<span class="text-danger">Course is allready taken!</span>');
                            $("#CourseId").val('');
                        }                              
                    }
                });
            });

        });
    </script>

</body>

</html>