@using CourseAndResultMS.Models
@{ 
    List<RegisterStudent> registerStudents = ViewBag.RegisterStudentList;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>View Result</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <h2>View Student Result</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="RegisterStudentId" class="col-md-2 control-label">Register No</label>
                    <div class="col-md-10">
                        <select id="RegisterStudentId" name="RegisterStudentId" class="form-control">
                            <option value="">-- Select Reg No --</option>
                            @foreach (RegisterStudent item in registerStudents)
                            {
                                <option value="@item.RegisterStudentId">@item.RegistrationNumber</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Name" class="col-md-2 control-label">Name</label>
                    <div class="col-md-10">
                        <input type="text" id="Name" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Email" class="col-md-2 control-label">Email</label>
                    <div class="col-md-10">
                        <input type="email" id="Email" class="form-control" readonly />
                    </div>
                </div>
                <div class="form-group">
                    <label for="DepartmentId" class="col-md-2 control-label">Department</label>
                    <div class="col-md-10">
                        <input type="text" id="DepartmentId" class="form-control" readonly />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-md-8">
            <table id="myTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Course Code</th>
                        <th>Name</th>
                        <th>Greade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td></td><td></td><td></td></tr>
                </tbody>
            </table>
        </div>
    </div>  
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
            $("#RegisterStudentId").change(function () {
                $("#Name").val('');
                $("#Email").val('');
                $("#DepartmentId").val('');

                var registerStudentId = $("#RegisterStudentId").val();
                var getStudentInfoByRegisterStudentId = { registerStudentId: registerStudentId };
                var getDepartmentByRegisterStudentId = { registerStudentId: registerStudentId };
                var getStudentResult = { registerStudentId: registerStudentId };

                $.ajax({
                    type: "POST",
                    url: '/StudentResult/GetStudentInfoByRegisterStudentId',
                    contentType: "application/json; charset=uft-8",
                    data: JSON.stringify(getStudentInfoByRegisterStudentId),
                    success: function (data) {
                        $("#Name").val(data.Name);
                        $("#Email").val(data.Email);
                    }
                });

                $.ajax({
                    type: "POST",
                    url: '/StudentResult/GetDepartmentByRegisterStudentId',
                    contentType: "application/json; charset=uft-8",
                    data: JSON.stringify(getDepartmentByRegisterStudentId),
                    success: function (data) {
                        $("#DepartmentId").val(data);
                    }
                });

                $.ajax({
                    type: "POST",
                    url: '/StudentResult/GetStudentResultByRegisterStudentId',
                    contentType: "application/json; charset=uft-8",
                    data: JSON.stringify(getStudentResult),
                    success: function (data) {

                    }
                });
            });
        });
    </script>
</body>

</html>
