@using CourseAndResultMS.Models;
@{
    List<Department> departments = ViewBag.DepartmentList;
    List<Course> courses = ViewBag.CourseList;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Create Course Assign</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h2>Create Course Assign</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form id="create" method="post" action="@Url.Action("Create","CourseAssignToTeacher")">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="DepartmentId" class="col-md-2 control-label">Department</label>
                        <div class="col-md-10">
                            <select id="DepartmentId" name="DepartmentId" class="form-control">
                                <option value="">-- Select Department --</option>
                                @foreach (Department item in departments)
                                {
                                    <option value="@item.DepartmentId">@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TeacherId" class="col-md-2 control-label">Teacher</label>
                        <div class="col-md-10">
                            <select id="TeacherId" name="TeacherId" class="form-control">
                                <option value="">-- Select Teacher --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CraditToBeTaken" class="col-md-2 control-label">Cradit To Be Taken</label>
                        <div class="col-md-10">
                            <input type="number" id="CraditToBeTaken" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="RemainingCradit" class="col-md-2 control-label">Remaining Cradit</label>
                        <div class="col-md-10">
                            <input type="text" id="RemainingCradit" name="RemainingCradit" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CourseId" class="col-md-2 control-label">Course Code</label>
                        <div class="col-md-10">
                            <select id="CourseId" name="CourseId" class="form-control">
                                <option value="">-- Select Code --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" id="Name" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Cradit" class="col-md-2 control-label">Cradit</label>
                        <div class="col-md-10">
                            <input type="text" id="Cradit" class="form-control" disabled="disabled" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" id="Submit" value="Submit" class="btn btn-primary" />
                            <a href="../CourseAssignToTeacher/Index" class="btn btn-info">Back To List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#DepartmentId").change(function () {
                $("#TeacherId").empty();
                $("#CourseId").empty();
                $("#CraditToBeTaken").val('');
                $("#RemainingCradit").val('');
                $("#Name").val('');
                $("#Cradit").val('');
                $("#TeacherId").append('<option value="">-- Select Teacher --</option>');
                $("#CourseId").append('<option value="">-- Select Code --</option>');

                var depId = $("#DepartmentId").val();
                var teacherListByDepId = { departmentId: depId };
                var CourseListByDepId = { departmentId: depId };

                $.ajax({
                    type: "POST",
                    url: '/CourseAssignToTeacher/GetTeacherByDepartmentId',
                    contentType: "application/json; charset=uft-8",
                    data: JSON.stringify(teacherListByDepId),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#TeacherId").append('<option value=' + value.TeacherId + '>' + value.Name + '</option>');
                        });
                    }
                });

                $.ajax({
                    type: "POST",
                    url: '/CourseAssignToTeacher/GetCourseByDepartmentId',
                    contentType: "application/json; charset=uft-8",
                    data: JSON.stringify(CourseListByDepId),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#CourseId").append('<option value=' + value.CourseId + '>' + value.Code + '</option>');
                        });
                    }
                });

            });

            $("#TeacherId").change(function () {

                $("#CraditToBeTaken").val('');
                $("#RemainingCradit").val('');
                $("#Name").val('');
                $("#Cradit").val('');

                var teacherId = $("#TeacherId").val();
                var getTeacherCraditToBeTaken = { teacherId: teacherId };
                var getRemainingCraditForTeacher = { teacherId: teacherId };

                $.ajax({
                    type: "POST",
                    url: '/CourseAssignToTeacher/GetTeacherCradit',
                    contentType: "application/json; charset=uft-8",
                    data: JSON.stringify(getTeacherCraditToBeTaken),
                    success: function (data) {
                        $("#CraditToBeTaken").val(data.CraditToBeTaken);
                    }
                });

                $.ajax({
                    type: "POST",
                    url: '/CourseAssignToTeacher/GetRemainingCraditForTeacher',
                    contentType: "application/json; charset=uft-8",
                    data: JSON.stringify(getRemainingCraditForTeacher),
                    success: function (data) {
                        $("#RemainingCradit").val(data);
                    }
                });
            });

            $("#CourseId").change(function () {
                $("#Name").val('');
                $("#Cradit").val('');
                $("#RemainingCradit").val('');

                var teacherId = $("#TeacherId").val();
                var courseId = $("#CourseId").val();
                var getCourseNameAndCraditByCourseId = { courseId: courseId };
                var getRemainingCraditByCourseId = { teacherId: teacherId, courseId: courseId };

                $.ajax({
                    type: "POST",
                    url: '/CourseAssignToTeacher/GetCourseNameAndCraditByCourseId',
                    contentType: "application/json; charset=uft-8",
                    data: JSON.stringify(getCourseNameAndCraditByCourseId),
                    success: function (data) {
                        $("#Name").val(data.Name);
                        $("#Cradit").val(data.Cradit);
                    }
                });

                $.ajax({
                    type: "POST",
                    url: '/CourseAssignToTeacher/GetRemainingCraditByCourseId',
                    contentType: 'application/json; charset=uft-8',
                    data: JSON.stringify(getRemainingCraditByCourseId),
                    success: function (data) {
                        $("#RemainingCradit").val(data);
                    }
                });
            });
        });
    </script>
</body>
</html>
