@using CourseAndResultMS.Models;
@{
    List<AllocateClassRoom> allocateClassRooms = ViewBag.AllocateClassRoom;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Allocate Class Room Index</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h2>Allocate Class Room Details</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="../AllocateClassRoom/Create" class="btn btn-success"><i class="fa fa-plus">&nbsp;</i> Create Allocate Class Room</a>
        </div>
    </div>
    <div class="row" id="tblAllocateClassRoom">
        <div class="col-md-10">
            <table id="myTable" class="display table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Department and Course</th>
                        <th>Room and Day</th>
                        <th>Star and End Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AllocateClassRoom item in allocateClassRooms)
                    {
                        <tr>
                            <td>
                                Department : @item.Department.Name <br />
                                Course : @item.Course.Name <br />
                            </td>
                            <td>
                                Room : @item.ClassRoom.Name <br />
                                Day : @item.Week.Name <br />
                            </td>
                            <td>
                                @{
                                    TimeSpan? clasStartTime = item.ClassStartTime;
                                    DateTime convertClassStartTimeToDateTime = Convert.ToDateTime(clasStartTime.ToString());
                                    String time12FormateClassStartTime = String.Format("{0:hh:mm:tt}", convertClassStartTimeToDateTime);

                                    TimeSpan? classEndTime = item.ClassEndTime;
                                    DateTime convertClassEndTimeToDateTime = Convert.ToDateTime(classEndTime.ToString());
                                    String time12FormateClassEndTime = String.Format("{0:hh:mm:tt}", convertClassEndTimeToDateTime);
                                }
                                Start Time : @time12FormateClassStartTime <br />
                                End Time : @time12FormateClassEndTime <br />
                            </td>
                            <td>
                                <a href="../../AllocateClassRoom/Edit/@item.AllocateClassRoomId" class="btn btn-info"><i class="fa fa-edit">&nbsp;</i> Edit</a>
                                <a href="../../AllocateClassRoom/UnassignClassRoom/@item.AllocateClassRoomId" class="btn btn-danger"><i class="fa fa-eye-dropper">&nbsp;</i> Unassign</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
