@using CourseAndResultMS.Models;

@{
    List<Department> departments = ViewBag.DepartmentList;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Department Index</title>
</head>

<body>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</body>

</html>
