#navbarcolor {
    background-color: antiquewhite;
}

.col-md-12 h2 {
    font-family: 'Exo 2', sans-serif;
    text-align: center;
}

#tablemargin {
    margin-top: 50px;
    margin-left: 50px;
}

#departmenttbl {
    margin-top: 50px;
    margin-left: 100px;
}
